
//
// VARIABLES
//

// Colors
$white: #ffffff;
$blue: #4183C4;
$dark-blue: #4183C4;
$gray: #dcdcdc;
$dark: #2d2d2d;
$dark-gray: #232323;
$darker-gray: #222;
$light-gray: #eee;

// Font stacks
$text: Ubuntu, regular;
// src: local('Ubuntu'), url({{ site.baseurl }}/fonts/ubuntu.ttf) format('ttf');

$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
